<div class="container">
  <div class="col-md-10">
    <h3>Question Builder</h3>

    <%= form_for [@question_group, question] do |f| %>
      <%- unless question.errors.empty? %>
        <ul>
          <%- question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <p>
        <%= f.label :type %>
        <%= f.select :type, ::Rapidfire::QuestionForm::QUESTION_TYPES, {}, id: "question_type", class: "form-control"  %>
      </p>
      <p>
        <%= f.label :question_text %>
        <%= f.text_field :question_text, class: "form-control"  %>
      </p>
      <p>
        <%= f.label :answer_options %>
        <%= f.text_area :answer_options, rows: 5, placeholder: "Please place an answer in a new row for multiple answers", class: "form-control"  %>
      </p>

      <h4>Other options</h4>
      <hr/>
    
    <p>
      <%= f.label :answer_presence, "This question is mandatory" %>
      <%= f.check_box :answer_presence %>
    </p>
    <p>
      <%= f.label :answer_minimum_length %>
      <%= f.text_field :answer_minimum_length, class: "form-control", placeholder: "Input a number"  %>
    </p>
    <p>
      <%= f.label :answer_maximum_length %>
      <%= f.text_field :answer_maximum_length, class: "form-control", placeholder: "Input a number"   %>
    </p>
    <p>
      <%= f.label :answer_greater_than_or_equal_to %>
      <%= f.text_field :answer_greater_than_or_equal_to, class: "form-control", placeholder: "Input a number"   %>
    </p>
    <p>
      <%= f.label :answer_less_than_or_equal_to %>
      <%= f.text_field :answer_less_than_or_equal_to, class: "form-control", placeholder: "Input a number"   %>
    </p>  
    
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
