<!DOCTYPE html>
<html>
<head>
  <title>Dataholic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
    <nav>
      <div id="nav-logo"> 
        <%= image_tag src="logo.png", class: "hvr-pop"  %>
        DATAHOLIC
      </div>
      <div class="nav-item">        
        <%= link_to (image_tag src="add-campaign.png", class: "hvr-pop" ), main_app.campaigns_path  %>
        CAMPAIGN
      </div>
      <div class="nav-item">
        <%= link_to (image_tag src="email.png", class: "hvr-pop" ), main_app.messages_path %>
        MAILING
      </div>
      <div class="nav-item">
        <%= link_to (image_tag src="survey.png", class: "hvr-pop"), main_app.rapidfire_path  %>
        SURVEY
      </div>
      <div class="nav-item">
        <%= image_tag src="statistical.png", class: "hvr-pop"  %>
        ANALYSIS
      </div>
      <div id="nav-profile">
        <% if user_signed_in? %>
            <%= link_to main_app.edit_user_registration_url  do %>
              Edit profile
            <% end %>  
            <%= link_to "Logout", main_app.destroy_user_session_url, method: :delete %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
